{%extends "layout.html" %}

{%block body%}
<hr>
<h5>Hakkımızda</h5>
<hr>
<p>Kendini sürekli yenileyen, okuyan, inceleyen, araştıran, analiz ve 
    sentezler yapabilen gençlerin yetiştiği; bütün öğrencilerimizin, 
    akla ve bilime dayalı eğitim ortamında hayata ve bir üst öğrenime 
    hazırlandığı; dünü, bugüne; bugünü yarına bağlayan köprülerin 
    kurulduğu; yönetici, öğretmen, personel, öğrenci ve velilerimizin 
    işbirliğiyle ilçemiz ve Türkiye genelinde 
    Başarılı ve Örnek Okul olmaktır.</p>


{%endblock %}

